@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 500ms linear;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
